@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');


body{
    font-family: 'Anta';
    width: 100%;
}

header{
    background-color: black;
    margin-top: 0%;
    width: 100%;
    height: 20%;
}

a {
    text-decoration: none;
}


.head1{
    display: flex;
    gap: 50px;
    font-size: x-large;
    justify-content: end;
    margin-right: 100px;
    padding-top: 70px;
    padding-right: 50px;
}

.logo1 {
    display: flex;
    width: 50px;
    height: auto;

}

footer{
    text-align: center;
    background-color: blue;
    margin: 0%;
    padding: 0%;
}