@import url('https://fonts.cdnfonts.com/css/avenir');

body{
    font-family: 'Avenir';
    width: 100%;
}

header{
    background-color: black;
    margin-top: 0%;
    width: 100%;
}

a {
    text-decoration: none;
}


.head1{
    display: flex;
    gap: 50px;
    font-size: large;
    justify-content: end;
    margin-right: 100px;
    margin-top: 0%;
    color: red;

}

.logo1 {
    display: flex;
}